/* Couleurs de base pour tous les thèmes */
/* Certaines couleurs auront aussi la couleur en hexadécimal à cause de l'association avec les couleurs de Vuetify.
   La personnalisation du thème de Vuetify requiert des couleurs rgb alors le hsl n'est pas accepté. À voir si c'est
   encore vrai dans les prochaines version de Vuetify.
*/
/*TODO*/
/*$primary    : #d20a0a*/
/*$secondary  : #000*/
/*$tertiary   : #d5d6d8*/
/*$pouet      : #abadb1*/
/*$pouet2     : #eeeeef*/
/*$accent     : #16559f*/

/*$dark       : #1d1d1d*/

/*$positive   : #00645E*/
/*$negative   : #AB0B0B*/
/*$info       : #005294*/
/*$warning    : #F7C422*/
/*$warning-darker    : #9A5504*/

:root {
    /* Brand */
    --primary-color:#D20A0A;
    --secondary-color:#000;
    --accent-color:#16559F;
    --error-color:#AB0B0B;
    --info-color:#005294;
    --success-color:#00645E;
    --warning-color:#F7C422;
}
