.bg-color-neutral-ground {
    background-color: var(--ground-color );
}

.bg-color-primary-light {
    background-color: var(--primary-light-color );
}

.bg-color-primary-dark.bg-color-primary-dark {
    background-color: var(--primary-dark-color );
}

.bg-color-error-light {
    background-color: var(--error-light-color );
}

.bg-color-error-dark {
    background-color: var(--error-dark-color );
}

.bg-color-info-light {
    background-color: var(--info-light-color );
}

.bg-color-info-dark {
    background-color: var(--info-dark-color );
}

.bg-color-success-light {
    background-color: var(--success-light-color );
}

.bg-color-success-dark {
    background-color: var(--success-dark-color );
}

.bg-color-warning-light {
    background-color: var(--warning-light-color );
}

.bg-color-warning-dark {
    background-color: var(--warning-dark-color );
}
