.color-secondary-light {
    color: var(--secondary-light-color );
}

.color-secondary-dark {
    color: var(--secondary-dark-color );
}

.color-error-light {
    color: var(--error-light-color );
}

.color-error-dark {
    color: var(--error-dark-color );
}

.color-info-light {
    color: var(--info-light-color );
}

.color-info-dark {
    color: var(--info-dark-color );
}

.color-success-light {
    color: var(--success-light-color );
}

.color-success-dark {
    color: var(--success-dark-color );
}

.color-warning-light {
    color: var(--warning-light-color );
}

.color-warning-dark {
    color: var(--warning-dark-color );
}

.home-color {
    color: var(--home-color );
}

.away-color {
    color: var(--away-color );
}
